@using System.Security.Claims
@{
    ViewData["Title"] = "멤버십";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string userId = string.Empty;
    string userRoleId = string.Empty;
    string[] userRoleInfo = new[] { string.Empty, string.Empty, string.Empty, string.Empty };
    if(Context.User.Claims.Any())
    {
        userId = User.FindFirst(claim => claim.Type.Equals(ClaimTypes.Name))!.Value;
        userRoleId = User.FindFirst(claim => claim.Type.Equals(ClaimTypes.Role))!.Value;
        userRoleInfo = User.FindFirst(claim => claim.Type.Equals(ClaimTypes.UserData))!.Value.Split("|");
    }
}
<h2>@ViewData["Title"]</h2>
<div class="text-info">@Html.Raw(TempData["Message"])</div>
@if (Context.User.Identity.IsAuthenticated)
{
    <div class="text-danger">@($"{userId}({userRoleInfo[2]})님의 권환은 {userRoleId} ({userRoleInfo[0]}) 입니다.")</div>
    <a asp-controller="Membership" asp-action="LogOut" class="btn btn-primary">맴버쉽 로그아웃</a>
}
@*Html.Raw를 해줘야 HTML 태그가 적용가능*@
